.social_handle_container {
  margin: 12vh 30vw 1vh !important;
}

.t_social {
  color: #fff !important;
  font-weight: bold !important;
}

.social_image {
  height: 3em;
}
.logo_image {
  display: flex;
  width: 60vw;
  height: 50vh;
  margin: auto;
  margin-top: 10vw !important;
}
