.social_handle_container {
  margin: 5vh 20vw 2vh !important;
}

.t_social {
  color: #fff !important;
  font-weight: bold !important;
}

.logo_image {
  display: flex;
  width: 60vw;
  height: 50vh;
  margin: auto;
  margin-top: 10vw !important;
}
