.u-btn {
  padding: 0.5em 1.5em !important;
  border: none !important;
  border-radius: 1em !important;
}

.btn_mint {
  background: #00ecff !important;
}
.btn_connect {
  background: #000 !important;
}

.me-auto {
  margin: auto !important;
  margin-left: 30% !important;
  margin-top: 0 !important;
  padding: 0.5em 1em !important;
  background: #9c9d9e !important;
  border-radius: 0em 0em 1em 1em;
  box-shadow: 0px 2px 0px 1px #000;
}

.navbar {
  padding-top: 0% !important;
}
.route-link {
  color: #fff !important;
  margin: 0.5em;
  text-decoration: none !important;
}

.navbar-light .navbar-toggler {
  background: rgba(255, 255, 255, 0.5);
  color: #fff !important;
}

/* active class styles */

.selected-route {
  border-bottom: 3px solid;
  margin-bottom: -1.5%;
  border-radius: 50%;
  border-image: linear-gradient(
      45deg,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet,
      red
    )
    1;
}

@media (max-width: 768px) {
  .me-auto {
    text-align: center;
    margin: auto !important;
    margin-top: 0 !important;
    padding: 0.5em 1em !important;
    background: #9c9d9e !important;
    border-radius: 0em 0em 1em 1em;
    box-shadow: 0px 2px 0px 1px #000;
  }
  .navbar-nav {
    display: flex;
    margin: auto !important;
    text-align: center;
    justify-content: center;
  }
}
