.container_main {
  background: url("assets/images/Layer-7.jpeg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.t_text-shadow {
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 1);
}
